/* -----------------------------------GLOBAL----------------------------------- */

@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url('../fonts/helvetica.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica-Bold', sans-serif;
    src: url('../fonts/Helvetica-Bold.ttf;');
    font-style: normal;
    font-weight: 700;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

section {
    margin-bottom: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #5c5c5e;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: none;
}

/* -----------------------------------GLOBAL----------------------------------- */

/* -----------------------------------HEADER----------------------------------- */

.header {
    border-bottom: 1px solid #cacad6;
}

.nav {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;
}

.menu {
    gap: 0 20px;
    padding: 0;
}

.logo {
    justify-self: center;
}

.basket {
    position: relative;
    justify-self: end;
}

.basket--on span {
    display: none;
    font-size: 11px;
    color: #fff;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: -2px;
}

.title {
    margin: 0;
    font-weight: 400;
}

/* -----------------------------------HEADER----------------------------------- */

/* -----------------------------------TOP----------------------------------- */

.top {
    min-height: calc(100vh - 81px);
    background-image: url('../imgs/topBackground.jpg');
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.top__title {
    padding-top: 19%;
    margin-bottom: 10px;
    font-size: 96px;
}

.subtitle {
    font-size: 36px;
    margin-bottom: 5px;
}

.bay-text {
    padding-top: 6px;
    font-size: 13px;
    margin-bottom: 50px;
}

.bay-btn {
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    text-transform: uppercase;
    padding: 1px;
}

.bay-btn__text {
    color: #F6F4F5;
    padding: 20px 110px;
    text-transform: uppercase;
}

.bay-btn__price {
    padding: 20px 105px;
    background-color: #F6F4F5;

}

/* -----------------------------------TOP----------------------------------- */

/* -----------------------------------FEATURES----------------------------------- */

.features__title {
    flex-basis: 300px;
    text-transform: uppercase;
    padding-right: 20px;
}

.features__text {
    margin-bottom: 2px;
    max-width: 330px;
    font-size: 36px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features__tabs {
    grid-template-columns: 300px auto;
}

.tabs__btn {
    flex-direction: column;
    align-items: start;
}

.tabs__btn-item {
    font-weight: 700;
}

.tabs__btn-item:not(:last-child) {
    margin-bottom: 20px;
}

.tabs__btn-item:hover {
    color: #070707;
}

.tabs__content {
    position: relative;
    min-height: 310px;
}

.tabs__content-item {
    position: absolute;
    grid-template-columns: auto 280px;
    grid-template-rows: auto 150px;
    gap: 40px;
    opacity: 0;
}

.tabs__content-item--active {
    opacity: 1;
}

.tabs__content-img {
    grid-row: 1/-1;
    align-self: stretch;
}

.tabs__content-box h3 {
    margin-bottom: 5px;
}

.tabs__content-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.video { 
    box-sizing: border-box;
    grid-column: 2/3;
    width: 280px;
    height: 150px;
    background-image: url('../imgs/content-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 9px 10px;
}

.video__btn {
    margin-left: 22px;
}

.video span {
    font-size: 13px;
    color: #f6f4f5;
}

/* -----------------------------------FEATURES----------------------------------- */

/* -----------------------------------GAME----------------------------------- */

.game__title {
    margin-bottom: 50px;
}

.game__inner {
    grid-template-columns: repeat(4, 1fr)
}

.game__descr {
    padding-right: 10px;
}

.game__descr-title {
    font-size: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.game__descr-text {
    margin-bottom: 24px;
}

.game__link {
    display: inline-block;
    padding: 16px 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #BC10D8 40%, rgba(80, 0, 250, 0.93) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #BC10D8;
    border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-image-slice: 1;
}

.game__item {
    flex-direction: column;
    padding: 19px;
    border: 1px solid #BC10D8;
    border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-image-slice: 1;
}

.game__item-img {
    margin-bottom: 10px;
}

.game__item-title {
    margin-bottom: 10px;
}

.game__item-text {
    margin-bottom: 40px;
}

.game__item-link {
    margin-top: auto;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -----------------------------------GAME----------------------------------- */

/* -----------------------------------BAY----------------------------------- */

.bay {
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    overflow: hidden;
}

.bay__bg {
    position: absolute;
    font-weight: 700;
    font-size: 380px;
    line-height: 400px;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
    z-index: -1;
    animation: line-text 10s linear 1s infinite;
}

@keyframes line-text {
    0% {
        display: none;
        transform: translateX(100%);
        transform-origin: left center;
    }
    50% {
        display: block;
    }
    100% {
        transform: translateX(-100%);
        transform-origin: right center;
    }
}

.bay__img {
    min-width: 347px;
    height: 334px;
    margin-bottom: 30px;
}

.bay .bay-btn {
    margin: 0 auto;
}

/* -----------------------------------BAY----------------------------------- */

/* -----------------------------------EQUIPMENT----------------------------------- */

.equipment__box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.equipment__box-item--big {
    grid-row: 1/3;
    grid-column: 1/3;
}

.equipment__box-img {
    margin-bottom: 10px;
}

.equipment__box-text--big {
    font-weight: 400;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -----------------------------------EQUIPMENT----------------------------------- */

/* -----------------------------------PROMO----------------------------------- */

.promo {
    margin-bottom: 100px;
}

.promo__container {
    padding: 80px;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../imgs/promo.jpg');
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo__btn {
    position: relative;
    margin-top: auto;
    width: 50px;
    height: 50px;
    color: #fff;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-radius: 50%;
}

.promo__btn:hover:after,
.promo__btn:hover:before {
    content: '';
    position: absolute;
    border: 1.5px solid #da7ce9c5;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
    animation: pulse 1s ease-out;
}

.promo__btn:hover:after {
    animation-delay: 0.3s;
}


@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        transform: scale(1.8);
    }
}

/* -----------------------------------PROMO----------------------------------- */
/* -----------------------------------ACCESSORIES----------------------------------- */

.acessories__title {
    margin-bottom: 30px;
}

.accessories__text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accessories__wrapper {
    grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
    padding: 20px;
    border: 1px solid #BC10D8;
    border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-image-slice: 1;
}

.accessories__content-img {
    margin-bottom: 10px;
}

.accessories__content {
    height: 20%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 42px;
}

.accessories__content-price {
    margin-bottom: 10px;
    font-weight: 700;
}

.accessories__content-link {
    display: inline-block;
    padding: 6px 89px;
    font-weight: 700;
    background: linear-gradient(180deg, #BC10D8 40%, rgba(80, 0, 250, 0.93) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #BC10D8;
    border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-image-slice: 1;
}

/* -----------------------------------ACCESSORIES----------------------------------- */

/* -----------------------------------OCNTACTS----------------------------------- */

.contacts__title {
    margin-bottom: 9px;
}

.contacts__form {
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid #CACAD6;
}

.form__wrapper {
    padding: 5px;
    border-bottom: 1px solid #CACAD6;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form__input {
    border: none;
    width: 80%;
}

.form__btn {
    width: 50px;
    height: 50px;
    background: #CACAD6;
    border-radius: 50%;
}

.form__text {
    font-size: 13px;
    line-height: 15px;
    color: #5C5C5E;
}

.mail {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 18px;
}

/* -----------------------------------OCNTACTS----------------------------------- */

/* -----------------------------------FOOTER----------------------------------- */

.footer {
    padding: 30px 0;
    border-top: 1px solid #cacad6;
    border-bottom: 1px solid #cacad6;
}

.social-media {
    justify-content: flex-end;
}

.social-media__item:not(:last-child) {
    margin-right: 20px;
}

/* -----------------------------------FOOTER----------------------------------- */




